<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZunTzu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZunTzu.Properties.Settings>
            <setting name="ConnectHostNameOrAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayWidescreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayTextureFormat" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DisplayMapAndCounterDetail" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DisplayDiceModelComplexity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayWaitForVerticalBlank" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayWindowSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="DisplayPreferedFullscreenMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayMaximizeWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HostPort" serializeAs="String">
                <value>1805</value>
            </setting>
            <setting name="ConnectPort" serializeAs="String">
                <value>1805</value>
            </setting>
            <setting name="PlayerFirstName" serializeAs="String">
                <value>Joe</value>
            </setting>
            <setting name="PlayerLastName" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="FileDirectory" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="LibraryDirectory" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="PlayerId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="AudioDisableSoundEffects" serializeAs="String">
                <value>False</value>
            </setting>
        </ZunTzu.Properties.Settings>
    </userSettings>
</configuration>